html, body {
  margin: 0;
  padding: 6px;
}

.container {
}

.hero {
  padding-top: 150px;
  text-align: center;
  transition: padding-top 0.4s ease;
}

.hero-results {
  padding-top: 12px;
}

img {
  width: 50%;
  max-width: 200px;
}

.search {
  max-width: 380px;
  margin: 0 auto 12px;
  position: relative;
}

.search div {
  position: absolute;
  left: -24px;
  bottom: 0;
  height: 36px;
  line-height: 36px;
}

.search input {
  width: 75%;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #d32C1f;
  margin: 0;
  font-size: 16px;
  vertical-align: middle;
}

.search button {
  border: none;
  background: #D32C1F;
  color: white;
  font-size: 16px;
  padding: 8px;
  box-sizing: border-box;
  height: 36px;
  width: 25%;
  vertical-align: middle;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
}

table {
  max-width: 800px;
  margin: 12px auto 0;
  box-sizing: border-box;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #555
}

table th {
  padding: 8px 12px;
  background: #e3e3e3;
}

table td {
  padding: 8px 12px;
  vertical-align: middle;
}

table td p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #555;
}

table tbody tr:nth-child(2n) {
  background: #F3F3F3;
}

table td:not(:first-child) {
  width: 60px;
}
